
<div class="logout-btn">
  <button (click)="openAuthModal()" class="btn btn-secondary">Login</button>
</div>

<div class="diary-list" (scroll)="onScroll()">

  <div class="diary-list-header">
      <h1>My Diary</h1>
      <a routerLink="/new" class="btn btn-primary">Add New Entry</a>
  </div>

  <div *ngFor="let entry of entries" class="diary-entry">
      <div class="entry-header">
          <h3>Note</h3>
          <div class="entry-actions">
              <a [routerLink]="['/edit', entry.id]" class="btn btn-secondary">Edit</a>
              <button (click)="deleteEntry(entry.id)" class="btn btn-danger">DEL</button>
          </div>
      </div>
      
      <div *ngIf="entry.content && entry.content.blocks.length">
          <div *ngFor="let block of entry.content.blocks">
              <ng-container [ngSwitch]="block.type">
                  <div *ngSwitchCase="'paragraph'">
                      <p [innerHTML]="block.data.text"></p>
                  </div>
                  <div *ngSwitchCase="'header'">
                      <h2>{{ block.data.text }}</h2>
                  </div>
                  <!-- Добавьте другие типы блоков по мере необходимости -->
              </ng-container>
          </div>
      </div>

      <img *ngIf="entry.imageUrl" [src]="entry.imageUrl" alt="Attached Image">
  </div>
</div>



<!-- Модальное окно для авторизации -->
<div class="modal" *ngIf="isAuthModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeAuthModal()">&times;</span>
    <div class="auth-container">
      <div class="auth-header">Login</div>
      <form class="auth-form" (submit)="onSubmit()">
        <input type="text" placeholder="Username" required>
        <input type="password" placeholder="Password" required>
        <button type="submit" class="btn-submit">Login</button>
      </form>
      <div class="auth-footer">
        <a routerLink="/register">Create an account</a>
      </div>
    </div>
  </div>
</div>